.item-blog {
    background-color: #86ead7;
    height: 290px;
    width: 600px;
    border-color: white;
    border-style: dotted;
  }
  
  #map-container-index {
    width: 100%;
    height: 600px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9;
  }
  
  #simbolos {
      padding-top: 80px;
      font-family: 'Quicksand', sans-serif; 
      
      
  }
  
  #simbolos h2 {
      font-size: 3em;
  }
  #simbolos p {
      font-size: 1.5em;
  }
  #symbols {
      text-align: center;
  }
  #symbols img {
      max-width: 150px;
      min-width: 60px;
  }
  #symbols p {
      color: gray;
  }
  
  footer {
      background-color: #F2F2F2;
      padding: 20px 0px;
  }
  
  #foo p {
      color: #A4A4A4;
    font-family: 'Quicksand', sans-serif; 
      font-size: 1.5em;
      
  }
  
  #foo img {
      max-width: 220px;
      max-height: 250px;
  }
  
  #copy {
      background-color: #F79F81;
      color: white;
      
      text-align: center;
  }
  
  #foimage {
      text-align: center;
  }
  
  #foelements p {
      text-align: justify;
    font-family: 'Quicksand', sans-serif;  
  }
  
  
  #foelements  a {
    font-family: 'Quicksand', sans-serif;  
      
          color: gray;
          
  }
  
  #foelements h3 {
      font-size: 3em;
      color: gray;
    font-family: 'Quicksand', sans-serif;  
  }
  
  #blog img {
      width: 100%;
      height: auto;
  }
  
  
  
  #infomeet {
      display: none;
      text-align: justify;
    font-family: 'Quicksand', sans-serif; 
      font-size: 1.5em;
      
  }
  #infomeet h2 {
      font-size: 2em;
      
  }
  
  #infomeet a {
      float: right;
  }
  
  
  
  
  #infomeet .centro {
      text-align: center;
      
  }
  #infomeet bottom {
      float: right;
  
  }
  
  #infomeet img {
      max-width: 100%;
      
      
      height: auto;
      max-height: 350px;
  }
  
  #infostay {
      display: none;
      text-align: justify;
    font-family: 'Quicksand', sans-serif; 
      font-size: 1.5em;
  }
  #infostay .centro {
      text-align: center;
      
  }
  #infostay bottom {
      float: right;
  }
  
  #infostay h2 {
      font-size: 2em;
      
  }
  
  #infostay a {
      float: right;
  }
  
  #infostay img {
      
      max-width: 100%;
      height: auto;
      
      max-height: 350px;
      
  }
  
  #infocreate {
      display: none;
      text-align: justify;
    font-family: 'Quicksand', sans-serif; 
      font-size: 1.5em;
  }
  #infocreate .centro {
      text-align: center;
      
  }
  #infocreate bottom {
      float: right;
  }
  
  #infocreate h2 {
      font-size: 2em;
      
  }
  
  #infocreate a {
      float: right;
  }
  
  #infocreate img {
      max-width: 100%;
      
      height: auto;
      max-height: 350px;
      
  }
  
  #infojoin {
      display: none;
      text-align: justify;
    font-family: 'Quicksand', sans-serif; 
      font-size: 1.5em;
  }
  #infojoin .centro {
      text-align: center;
      
  }
  #infojoin bottom {
      float: right;
  }
  
  #infojoin h2 {
      font-size: 2em;
      
  }
  
  #infojoin a {
      float: right;
  }
  
  #infojoin img {
      max-width: 100%;
      
      height: auto;
      max-height: 350px;
  }
  /************/
  
  
  .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  
  /*
  Fade content bs-carousel with hero headers
  Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
  Image credits: unsplash.com
  */
  
  /********************************/
  /*       Fade Bs-carousel       */
  /********************************/
  .fade-carousel {
      position: relative;
      height: 100vh;
  }
  .fade-carousel .carousel-inner .item {
      height: 100vh;
  }
  .fade-carousel .carousel-indicators > li {
      margin: 0 2px;
      background-color: #f39c12;
      border-color: #f39c12;
      opacity: .3;
  }
  .fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: .3;
  }
  
  /********************************/
  /*          Hero Headers        */
  /********************************/
  .hero {
      position: absolute;
      font-family: 'Quicksand', sans-serif; 
      top: 50%;
      left: 50%;
      z-index: 3;
      color: #fff;
      text-align: center;
      text-shadow: 1px 1px 0 rgba(0,0,0,.75);
        -webkit-transform: translate3d(-50%,-50%,0);
           -moz-transform: translate3d(-50%,-50%,0);
            -ms-transform: translate3d(-50%,-50%,0);
             -o-transform: translate3d(-50%,-50%,0);
                transform: translate3d(-50%,-50%,0);
  }
  .hero h1 {
      font-size: 6em;
      font-family: 'Quicksand', sans-serif;    
      margin: 0;
      padding: 0;
  }
  
  .hero h3 {
      font-size: 2em;
      font-family: 'Quicksand', sans-serif;    
      margin: 0;
      padding: 0;
  }
  
  .fade-carousel .carousel-inner .item .hero {
      opacity: 0;
      -webkit-transition: 2s all ease-in-out .1s;
         -moz-transition: 2s all ease-in-out .1s; 
          -ms-transition: 2s all ease-in-out .1s; 
           -o-transition: 2s all ease-in-out .1s; 
              transition: 2s all ease-in-out .1s; 
  }
  .fade-carousel .carousel-inner .item.active .hero {
      opacity: 1;
      -webkit-transition: 2s all ease-in-out .1s;
         -moz-transition: 2s all ease-in-out .1s; 
          -ms-transition: 2s all ease-in-out .1s; 
           -o-transition: 2s all ease-in-out .1s; 
              transition: 2s all ease-in-out .1s;    
  }
  
  /********************************/
  /*            Overlay           */
  /********************************/
  .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: #080d15;
      opacity: .4;
  }
  
  /********************************/
  /*          Custom Buttons      */
  /********************************/
  .btn.btn-lg {padding: 10px 40px;}
  .btn.btn-hero,
  .btn.btn-hero:hover,
  .btn.btn-hero:focus {
      color: #f5f5f5;
      background-color: #1abc9c;
      border-color: #1abc9c;
      outline: none;
      margin: 20px auto;
  }
  
  /********************************/
  /*       Slides backgrounds     */
  /********************************/
  .fade-carousel .slides .slide-1, 
  .fade-carousel .slides .slide-2,
  .fade-carousel .slides .slide-3,
  .fade-carousel .slides .slide-4,
  .fade-carousel .slides .slide-5 {
    
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .fade-carousel .slides .slide-1 {
    background-image: url(../imgs/s1.jpg); 
  }
  .fade-carousel .slides .slide-2 {
    background-image: url(../imgs/s2.jpg);
  }
  .fade-carousel .slides .slide-3 {
    background-image: url(../imgs/s3.jpg);
  }
  
  .fade-carousel .slides .slide-4 {
    background-image: url(../imgs/s4.jpg);
  }
  
  .fade-carousel .slides .slide-5 {
    background-image: url(../imgs/s5.jpg);
  }
  
  
  /********************************/
  /*          Media Queries       */
  /********************************/
  @media screen and (min-width: 980px){
      .hero { width: 980px; }    
  }
  @media screen and (max-width: 640px){
      .hero h1 { font-size: 4em; }    
      }
  
  #videoframes {
      width: 100%;
  }
  
  #videoframesmedia {
      width: 100%;
      display: block;
  }
  
  .sframe {
      
  }
  
  .sframe img {
      max-width: 100%;
      display: block;
      margin: auto;
      width: 80%;
  }
  
  .smframe img {
      max-width: 100%;
      display: block;
      margin: auto;
      width: 60%;
  }
  
  #navbar {
      height: 40px;
      width: 40px;
      color: #BDBDBD;
      overflow: hidden;
      position: fixed;
      z-index: 4;
      margin: 5px 0 0 10px; 
  }
  
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #FAFAFA;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      font-family: 'Quicksand', sans-serif;
       box-shadow: inset -4px 1px 15px -6px;
  }
  
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 40px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }
  
  .sidenav a:hover, .offcanvas a:focus{
      color: #333;
      text-decoration: none;
      font-size: 36px;
  }
  
  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 42px;
      margin-left: 50px;
  }
  
  #main {
      transition: margin-left .5s;
      z-index: -1;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  #ypt_wrapper {
    width: 100%;
    background: #FFF;
    color: #000;
    overflow: hidden;
    max-width: 100%;
    /*box-shadow: 0px 8px 13px rgba(0,0,0,0.5);*/
    margin-bottom: 1em;
  }
  
  #ypt_thumbs {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 20%;
    background: #000;
    margin: 0;
    padding: 0;
    height: 0;
  }
  
  #ypt_thumbs li {
    list-style: none;
    margin: 0;
    position: relative;
    font-size: 0;
  }
  
  #ypt_thumbs li img{
    width: 100%;
  }
  
  #ypt_thumbs li p {
    font-family: arial;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 5%;
    margin: 0;
  }
  
  #ypt_thumbs li:hover p {
    display: block;
    cursor: pointer;
  }
  
  #ypt_thumbs .ypt-now-playing p {
    display: block;
  }
  
  #ypt_thumbs .ypt-now-playing > span::after {
    content: "\25b6  Now playing"; /* A traingle pointing right */
    margin-top: -1em;
    display: block;
    width: 100%;
    padding: 5%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: absolute;
    bottom: 0;
    font-size: 10px;
  }
  
  #ypt_wrapper .video {
    position: relative;
    width: 80%;
    /*height: 0;*/
    padding-bottom: 48.4%;
    float: left;
  }
  
  #ypt_wrapper .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float:left;
  }
  
  #textMedia {
      font-family: 'Amatic sc';
      font-size: 72px;
      text-align: center;
  }
  
  @media only screen and (max-width : 400px) {
    #ypt_thumbs {
      display: none;
    }
    #ypt_wrapper .video {
      width: 100%;
      padding-bottom: 56.25%;
    }
  }
  
  
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    font-family: 'Quicksand', sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    margin-top: 20%;
    margin-left: 30%;
    left: 0;
    top: 0;
    width: 40%;
    height: 20%;
    overflow: auto;
   
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color:black;
    margin: auto;
    width: 90%;
    height: auto;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: rgb(248, 248, 248);
    z-index: 99788;
    position: absolute;
    top: 2%;
    right: 7%;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(8, 8, 8);
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .cursor {
    cursor: pointer
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 80%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(238, 173, 113);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: rgb(113, 163, 238);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #383838;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.8;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }