@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body, html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Amatic SC';
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 14px;
}

.mainPanelContainer {
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 400px;
  padding: 12px 8px 8px 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}

.mainPanelContainer h1 {
  text-align: center;
}

.sidePanelContainer {
}

.sidePanelCloseBtn {
  visibility: hidden;
  position: fixed;
  top: 15px;
  right: 15px;
}

.sidePanelCloseBtn:hover {
  cursor: pointer;
}

#sidePanelInfoContainer {
  padding: 20px;
  height: 500px;
  overflow: scroll;
}

.sidePanelContainer h1 {
  text-align: center;
}

.sidePanelContainer h2 {
  font-size: 20px;
}

.sidePanelContainer img {
  max-height: 100%;
  max-width: 100%;
}

.sidePanelContainer p {
  font-size: 16px;
}

.addToBasketButton {
  height: 30px;
  margin-top: 10px;
  width: 100%;
  text-align:center;
  background-color: #f99070;
  color: white;
  outline: none;
  padding-top: 12px;
}

.addToBasketButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.addToBasketButton * {
  width: 20px;
  margin: auto;
}

.basketButtonContainer {
  position: absolute;
  top: 30px;
  right: 35px;
}

.basketButton {
  color: white;
  text-shadow: 3px 3px 16px #272634;
}

.basketButton {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.basketCounter {
  position: absolute;
  top: 37px;
  left: 38px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
  background-color: #ff8d6a;
  border-radius: 50%;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.basketCounter span {
  display: inline-block;
  vertical-align: middle;
}

.basketButton:hover {
  cursor: pointer;
}

#closeBasketButton {
  position: absolute;
  top: 10px;
  right: 12px;
  outline: none;
}

.closeBasketButton:hover {
  cursor: pointer;
}

.basketPanelContainer {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 400px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  z-index: 6;
  text-align: center;
  max-height: 100%;
  overflow: hidden;
}

#basketTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#basketTitleContainer * {
  word-wrap: break-word;
  max-width: 120px;
}

#basketElementTitle h2 {
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  width: 120px;
}

#basketElementTitle:hover {
  cursor: pointer;
}

.basketListContainer {
  padding: 0;
  list-style: none;
  list-style-image: none;
  max-height: 100vh;
  overflow: scroll;
}

.basketListElement {
  position: relative;
  height: 62px;
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.basketListElement:last-child {
  border-bottom: none;
}

.basketElementSeason {
  color: gray;
  width: 120px;
}

#basketBtnContainer {
  display: inline-flex;
}

#basketItemImg {
  position: absolute;
  left: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#basketItemImg:hover {
  cursor: pointer;
}

#basketItemImg img {
  max-height: 100%;
}

#basketInfoBox {
  display: block;
  padding: 5px 10px 16px 82px;
  text-align: left;
}

.basketElementButtons {
  display: -webkit-inline-box;
}

.basketBtn {
  color: black;
  opacity: 0.6;
  width: 120px;
  text-align: right;
}

.basketBtn:hover {
  cursor: pointer;
  opacity: 1;
}

.basketElementContacts {
  font-size: 15px;
}

.basketElementContacts * {
  margin-bottom: 5px;
}

.mapContainer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.filterButtonsContainer {
  margin: auto;
  text-align:center;
  width: 350px;
}

.filterIcon {
  background-position: center;
  background-size: cover;
  outline: none;
  height: 65px;
  width: 65px;
  display: inline-block;
  opacity: 1;
  margin: 0 22px 0 0;
}

.filterIcon:hover {
  cursor: pointer;
}

.filterIcon.disabled {
  opacity: 0.3;
}

.sliderBox {
  width: 310px;
  margin-top: 35px;
  margin-left: 35px;
  margin-bottom: 35px;
  margin-right: 40px;
}

#mainMenuContainer {
  position: absolute;
  top: 28px;
  right: 104px;
}

#mainMenuContainer a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  margin-right: 30px;
  font-family: 'Amatic SC';
  font-weight: bold;
}

#mainMenuContainer a:hover {
  color: #ff8d69;
}

@media (max-width: 480px) {
  .mainPanelContainer {
    top: auto;
    left: auto;
    bottom: 0px;
    width: 100vw;
    padding: 0;
  }
  .basketButtonContainer {
    right: 25px;
  }
  #sidePanelInfoContainer {
    height: 100vh;
    padding: 0 10px 0 10px;
  }
  .sidePanelCloseBtn {
    visibility: visible;
  }
  .addToBasketButton {
    position: absolute;
    bottom: 0px;
  }
  .sidePanelContainer {
    /* position: absolute; */
    background-color: white;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .basketPanelContainer {
    top: auto;
    right: auto;
    width: 100vw;
    height: 100vh;
  }
  .basketBtn {
  }

  .mainPanelContainer h1 {
    visibility: hidden;
    position: absolute;
  }
  .filterButtonsContainer {
    margin-top: 20px;
  }
  .basketButton {
    font-size: 15px;
  }
}
