@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

.mainPanelContainer {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 400px;
  background-color: rgb(255, 255, 255);
}

.mainPanelContainer h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sidePanelContainer {
  padding: 20px;
  z-index: 5;
  height: 500px;
  width: 300px;
  background-color: white;
  position: relative;
}

.sidePanelContainer header {
  font-family: 'Amatic SC';
  font-size: 30px;
  text-align: center;
}

.sidePanelContainer header1 {
  font-family: sans-serif;
  font-size: 20px;
}

.sidePanelContainer p {
  font-family: sans-serif;
  font-size: 16px;
}

.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  height: 60px;
  text-align: right;
  border-top: 2px;
  border-top-color: rgba(0,0,0,0.3);
  border-top-style: solid;
}

.mapContainer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.filterButtonsContainer {
  margin: auto;
  width: 350px;
}

.filterIcon {
  background-position: center;
  background-size: cover;
  outline: none;
  height: 65px;
  width: 65px;
  display: inline-block;
  opacity: 1;
  margin: 10px;
}

.filterIcon.disabled {
  opacity: 0.3;
}

.sliderBox {
  width: 320px;
  margin-top: 35px;
  margin-left: 35px;
  margin-bottom: 35px;
  margin-right: 40px;
}
