.headerContainer {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: 85px;
  position: relative;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px;
  border-bottom-color: rgba(0,0,0,0.3);
  border-bottom-style: solid;
}

.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  height: 60px;
  text-align: right;
  border-top: 2px;
  border-top-color: rgba(0,0,0,0.3);
  border-top-style: solid;
}

.mapContainer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.filterIcon {
  background-position: center;
  background-size: cover;
  outline: none;
  height: 65px;
  width: 65px;
  display: inline-block;
  opacity: 1;
  margin: 10px;
}

.sliderBox {
  width: 500px;
  margin-top: 35px;
  margin-right: 40px;
}