@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);


body, html, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 14px;
}

.titlePanel {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: rgb(99, 99, 99);

}

.mainPanelContainer {
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 400px;
  padding: 12px 8px 8px 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}

.mainPanelContainer h1 {
  text-align: center;
}

.sidePanelCloseBtn {
  visibility: hidden;
  position: fixed;
  top: 15px;
  right: 15px;
}

.sidePanelCloseBtn:hover {
  cursor: pointer;
}

#sidePanelInfoContainer {
  padding: 40px;
  height: 200px;
  overflow: scroll;
}

.sidePanelContainer h1 {
  text-align: center;
  font-size: 22px;
}

.sidePanelContainer h2 {
  font-size: 14px;
}

.sidePanelContainer img {
  max-height: 100%;
  max-width: 100%;
}

.sidePanelContainer p {
  font-size: 12px;
}

.buttonMore {
  float: left;
  margin-top: 10px;
  padding-top: 6px;
  padding-left: 2%;
  padding-bottom: 4px;
  outline: none;
  color: #263034;;
  font-family: Ubuntu;
  font-size: 16px;
  text-decoration: none;
}

.addToBasketButton {
  font-size: 10px;
  float: right;
  height: 30px;
  margin-top: 10px;
  margin-right: 50%;
  width: 12%;
  text-align:center;
  color: #FF8D6B;
  outline: none;
  padding-top: 6px;
  padding-bottom: 4px;
}

.addToBasketButton h3 {
  font-size: 10px;
}

.addToBasketButton h1 {
  font-size: 16px;
}
.addToBasketButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.addToBasketButton * {
  font-size: 10px;
  width: 300px;
  margin: auto;
}

.basketButtonContainer {
  position: absolute;
  top: 30px;
  right: 35px;
}

.basketButton {
  color: white;
  text-shadow: 3px 3px 16px #272634;
}

.basketButton {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.basketCounter {
  position: absolute;
  top: 37px;
  left: 22px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  font-size: 13px;
  background-color: #ff8d6a;
  border-radius: 50%;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.basketCounter span {
  display: inline-block;
  vertical-align: middle;
}

.basketButton:hover {
  cursor: pointer;
}

#closeBasketButton {
  position: absolute;
  top: 10px;
  right: 12px;
  outline: none;
}

.closeBasketButton:hover {
  cursor: pointer;
}

.basketPanelContainer {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 400px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  z-index: 6;
  text-align: center;
  max-height: 100%;
  overflow: hidden;
}

#basketTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#basketTitleContainer * {
  word-wrap: break-word;
  max-width: 120px;
}

#basketElementTitle h2 {
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  width: 120px;
}

#basketElementTitle:hover {
  cursor: pointer;
}

.basketListContainer {
  padding: 0;
  list-style: none;
  list-style-image: none;
  max-height: 100vh;
  overflow: scroll;
}

.basketListElement {
  position: relative;
  height: 62px;
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.basketListElement:last-child {
  border-bottom: none;
}

.basketElementSeason {
  color: gray;
  width: 120px;
}

#basketBtnContainer {
  display: inline-flex;
}

#basketItemImg {
  position: absolute;
  left: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#basketItemImg:hover {
  cursor: pointer;
}

#basketItemImg img {
  max-height: 100%;
}

#basketInfoBox {
  display: block;
  padding: 5px 10px 16px 82px;
  text-align: left;
}

.basketElementButtons {
  display: -webkit-inline-box;
}

.basketBtn {
  color: black;
  opacity: 0.6;
  width: 120px;
  text-align: right;
}

.basketBtn:hover {
  cursor: pointer;
  opacity: 1;
}

.basketElementContacts {
  font-size: 15px;
}

.basketElementContacts * {
  margin-bottom: 5px;
}

.mapContainer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.filterButtonsContainer {
  margin: auto;
  text-align: center;
  width: 350px;
  z-index: 90;
}

.filterIcon:hover {
  opacity: 0.8;
}

.filterButtonsContainer .help1 {
  display: none;
  position: absolute;
  background-color: white;
  width: 450px;
  height: 220px;
  left: 0%;
  top: 100%;
  text-align: left;
  font-size: 14px;
  padding-top: 2%;
  font-family: 'Ubuntu';
  list-style-type: none;
  color: rgb(99, 99, 99);
}

.filterButtonsContainer .help1 img {
  width: 3.5%;
}
.filterButtonsContainer .help1 li {
  padding-top: 3%;
}

/*.filterButtonsContainer .help2 {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 9%;
  width: 350px;
  height: 20px;
  text-align: left;
  font-size: 12px;
  font-family: 'Ubuntu';
  padding-left: 5%;
  list-style-type: none;
}*/

.filterButtonsContainer:hover .help1{ 
  display: block;
}

.filterButtonsContainer:hover .help2{ 
  display: block;
}


.filterIcon {
  background-position: center;
  background-size: cover;
  outline: none;
  height: 65px;
  width: 65px;
  display: inline-block;
  opacity: 1;
  margin: 0 22px 0 0;
}

.filterIcon:hover {
  cursor: pointer;
}

.filterIcon.disabled {
  opacity: 0.3;
}

.sliderBox {
  width: 310px;
  margin-top: 35px;
  margin-left: 35px;
  margin-bottom: 35px;
  margin-right: 40px;
}

#mainMenuContainer {
  position: absolute;
  top: 50px;
  right: 104px;
  list-style: none;
}

#mainMenuContainer a {
  color: rgb(92, 92, 92);
  text-decoration: none;
  font-size: 20px;
  margin-right: 30px;
  font-family: 'Ubuntu'; 
}

#mainMenuContainer a:hover {
  color: #FF8D6B;
}


#colorMenuContainer {
  position: absolute;
  top: 95%;
  right: 100px;
  list-style: none;
  background-color: white;
  width: 600px;
  height: 25px;
  text-align: center;
  padding-top: 1%;

  
}

#colorMenuContainer a {
  color: rgb(92, 92, 92);
  text-decoration: none;
  font-size: 15px;
  margin-right: 30px;
  font-family: 'Ubuntu'; 
}

#colorMenuContainer a:hover {
  color: #FF8D6B;
}




@media only screen 
and (min-device-width: 240px) 
and (max-device-width: 640px) {

  #mainMenuContainer {
   position: absolute;
   width: 200px;
  }

  #mainMenuContainer a {
    font-size: 16px;
   }




#colorMenuContainer {
   position: absolute;
   width: 200px;
  }

  #colorMenuContainer a {
    font-size: 16px;
   }


  .mainPanelContainer {
    opacity: 0.80;
    top: auto;
    left: auto;
    bottom: 0px;
    width: 100%;
    padding: 0;
  }

  .sliderBox {
    padding-left: 4%;
    width: 70%;  
  }

  .filterButtonsContainer {
    margin-top: 20px;
    margin-left: 9%;
    width: 90%;
  }

  .filterButtonsContainer input {
    width: 15%;
    height: auto;
  }

  .basketButtonContainer {
    right: 25px;
  }

  #sidePanelInfoContainer {
    height: 75%;
    
  
  }

  .sidePanelCloseBtn {
    visibility: visible;
    font-size: 230%;
    opacity: 1;
    color: #EFA878;
    text-shadow: 2px 2px 4px #000000
  }

  
  .addToBasketButton {
    position: fixed;
    right: 0px;
    width: 15%;
    bottom: 0px;
    opacity: 0.5;
  }

  .addToBasketButton:hover {
    width: 20%;
  }

  .sidePanelContainer {
    /* position: absolute; */
    background-color: white;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .basketPanelContainer {
    top: auto;
    right: auto;
    width: 100vw;
    height: 100vh;
  }

  .mainPanelContainer h1 {
    visibility: hidden;
    position: absolute;
  }

  .basketButton {
    font-size: 16px;
  }
}

@media only screen 
and (min-device-width: 641px) 
and (max-device-width: 1024px) {

  #mainMenuContainer {
    position: absolute;
    width: 200px;
   }
 
   #mainMenuContainer a {
     font-size: 18px;
    }



 #colorMenuContainer {
    position: absolute;
    width: 200px;
   }
 
   #colorMenuContainer a {
     font-size: 18px;
    }


  .mainPanelContainer {
    opacity: 0.80;
    top: auto;
    bottom: 0px;
    width: 60%;
    padding: 0;
  }

  .sliderBox {
    padding-left: 4%;
    width: 75%;  
  }

  .filterButtonsContainer {
    margin-top: 20px;
    margin-left: 11%;
    width: 80%;
  }

  .filterButtonsContainer input {
    width: 15%;
    height: auto;
  }

  .basketButtonContainer {
    right: 25px;
  }

  #sidePanelInfoContainer {
    height: 80%;
  
  }

  .sidePanelCloseBtn {
    visibility: visible;
    right: 40%;
    font-size: 230%;
    opacity: 1;
    color: #EFA878;
  }

  
  .addToBasketButton {
    position: fixed;
    right: 40%;
    width: 8%;
    bottom: 0px;
    opacity: 0.5;
  }

  .addToBasketButton:hover {
    width: 20%;
  }

  .sidePanelContainer {
    /* position: absolute; */
    background-color: white;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .basketPanelContainer {
    top: auto;
    right: auto;
    width: 100vw;
    height: 100vh;
  }

  .mainPanelContainer h1 {
    visibility: hidden;
    position: absolute;
  }

  .basketButton {
    font-size: 16px;
  }
}

